.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 200px;
    width: 200px;
    border: solid black 1px;
    background-color: rgb(28, 200, 16);
}

.mole{
    background-image: url("images.jpeg");
}

h2{
    color: blue;
}

#time-left {
    color: red;
}